<% include partials/header %>
    <h1><%= title %></h1>
    <ul>
    <% users.forEach(function(user){ %>
    <li> <%= user.firstname %>
    <%= user.lastname %></li>
    <% }) %>
    </ul>
    <form method="POST" action="/users/add">  
         <input type="submit" value="Submit">
    </form>
 
<% include partials/footer %>